{% set confirmMessage = "'Вы уверены, что хотите удалить "~'"'~profile.description~'"'~"?'" %}

<form method="post" action="{{ path('profile_delete', {'id': profile.id}) }}" onsubmit="return confirm({{ confirmMessage }});">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ profile.id) }}">
    <button class="btn btn-danger">Удалить</button>
</form>