<div>
    <h2>{{ title }}</h2>
    <table>
        <tbody>
        {% for field in fields %}
            <tr>
                <th>{{ form_label(form[field]) }}</th>
                <td>
                    <div>{{ form_errors(form[field]) }}</div>
                    <div>{{ form_widget(form[field]) }}</div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
