{%extends 'main.html.twig'%}

{%block title "Профили настроек"%}

{%block main%}
{%from "profile/macros.html.twig" import list_table as  t%}
<h1>Общие профили</h1>
{{t(public, pR)}}

<h1>Личные профили</h1>
{{t(profiles, pR)}}

<a href="{{path("profile_new")}}">Создать новый профиль</a>
{%endblock%}