{%extends 'main.html.twig'%}

{%block title "Профили настроек"%}

{%block main%}
{%from "profile/list_table.html.twig" import list_table as  t%}

{{t("Профили по умолчанию", public, pR)}}
{{t("Личные профили", profiles, pR)}}

<div class="row mx-auto">
<a class="btn btn-link" role="button" href="{{path("profile_new")}}">Создать новый профиль</a>
</div>
{%endblock%}

{%block javascripts%}
{{parent()}}
<script>
var r=$("[type=radio]").click(function (e) {
location.href=$(e.target).data("href");
});
r.filter("[value="+P.current+"]").attr("checked", true);
if (!P.canAppoint) r.attr("disabled", true);
</script>
<script src="/js/jquery.datatables.min.js"></script>
<script>
$("table").DataTable({
ordering: false,
language: {    
"decimal":        "",    "emptyTable":     "Нет профилей",    "info":           "Показано с _START_ по _END_ из _TOTAL_ строк",    "infoEmpty":      "Показано с _START_ по _END_ из _TOTAL_ строк",   "infoFiltered":   "(Отфильтровано из _MAX_ строк)",    "infoPostFix":    "",    "thousands":      ",",    "lengthMenu":     "Показать _MENU_ строк",    "loadingRecords": "Идёт загрузка...",    "search":         "Поиск:",    "zeroRecords":    "Соответствующих записей не найдено",    
"paginate": {        "first":      "В начало",        "last":       "В конец",        "next":       "Вперед",        "previous":   "Назад"    },
    "aria": {        "sortAscending":  ": Нажмите, чтобы отсортировать по возрастанию",        "sortDescending": ": Нажмите, чтобы отсортировать по убыванию"    }
}
});
</script>
{%endblock%}