{% extends "profile/edit.html.twig" %}

{% block title %}
    Создать профиль
{% endblock %}

{%  block breadcrumbs %}
    {{  include('profile/breadcrumbs/new.html.twig') }}
{% endblock %}

{% block before_view %}
    {{ form_start(form) }}

    <h1>Создать профиль </h1>
    <div>{{ form_errors(form) }}</div>

    {% form_theme form _self %}
{% endblock %}