{% extends "@FOSUser/layout.html.twig" %}

{%block title "Вход"%}

{% block fos_user_content %}
<h1>Вход</h1>
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
