{% extends "main.html.twig" %}

{% block title %}
    Редактировать профиль
{%  endblock %}

{%  block breadcrumbs %}
    {{  include('account/breadcrumbs/edit.html.twig') }}
{% endblock %}

{% block main %}
    <h1>Редактировать профиль</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}