{% extends 'account/base.html.twig' %}

{% block title %}Аккаунт{% endblock %}

{%block main%}
<h1>Аккаунт</h1>
<ul>
<li>Имя: {{u.username}}</li>
<li>Эл. почта: {{u.email}}</li>
<li>Счет: {{u.money}} рублей</li>
<li>Оплачено: {{u.remainedTime.roundDaies}} дн.</li>
</ul>
{%endblock%}