{% extends 'main.html.twig' %}

{% block title %}
    Архив примеров ({{ student.LFName }})
{% endblock %}

{%  block breadcrumbs %}
    {{  include('student/breadcrumbs/examples.html.twig') }}
{% endblock %}

{% block main %}
    <h1>Архив примеров</h1>
    {{ include('student/examples_table.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/student/examples.js') }}"></script>
{% endblock %}