<table>
	<thead>
		<tr>
			<th>№</th>
			<th>Пример</th>
			<th>Ответ</th>
			<th>Правильно</th>
			<th>Затраченное время</th>
			<th>Время решения</th>
			<th>Попытка</th>
		</tr>	
			</thead>
			<tbody></tbody>
		</table>
