<a
        href="{{ admin.generateObjectUrl('loginAs', object) }}"
role="button"
onclick="return confirm('Вы действительно хотите зарегистрироваться как {{  object.username }}?')">
    Войти как пользователь
</a>