# Включаем модуль переписывания URL
RewriteEngine On

# Путь до корня сайта
RewriteBase /

# Исключить ситуации с существующими файлами и папками
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Перенаправление
RewriteRule .* index.php/$0