<?php

return $finder = PhpCsFixer\Finder::create()
    ->exclude('vendor')
    ->exclude('cache')
//    ->notPath('src/Symfony/Component/Translation/Tests/fixtures/resources.php')
    ->in(__DIR__)
;
