<?php

require_once("vendor/autoload.php");

use PhpCsFixer\Cache\Directory;

$finder=require_once(".php_cs_finder.dist");

$c='.php_cs.cache';
if (file_exists($c)) {
$json=file_get_contents($c);
$cache=json_decode($json, true);
} else $cache=[];
//echo json_encode($cache, JSON_PRETTY_PRINT);

$hashes=$cache['hashes'] ?? [];
$dir=new Directory(__dir__);
$nh=[];
$i=false;

foreach ($finder as $f) {
$rp=$dir->getRelativePathTo($f);
$ch=$hashes[$rp] ?? null;
$h=crc32(file_get_contents($f)); 
$eq=($h == $ch);
$i=($i or !$eq);

//echo $f." ".$rp." ".$eq."\n";
if (!$eq) {
echo sprintf("Ignored %s \n", $rp);
}
$nh[$rp]=$h;
}

if (!$i) echo "There is nothing to ignore";
$cache['hashes']=$nh;
file_put_contents($c, json_encode($cache, JSON_PRETTY_PRINT));