{% extends "@FOSUser/layout.html.twig" %}

{%block title "Сброс пароля"%}

{% block fos_user_content %}
<h1>Сброс пароля</h1>
{% include "@FOSUser/Resetting/reset_content.html.twig" %}
{% endblock fos_user_content %}
