{% extends "main.html.twig" %}

{% block title %}
    Требуется заполнить профиль
{% endblock %}

{%  block breadcrumbs %}
    {{  include('teacher/breadcrumbs/edit.html.twig') }}
{% endblock %}

{% block main %}
    <h1>Пожалуйста, заполните профиль</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}