{% extends "main.html.twig" %}

{% block title %}
    Список учителей
{% endblock %}

{% block breadcrumbs %}
    {{ include('teacher/breadcrumbs/index.html.twig') }}
{% endblock %}

{% block main %}
    <h1>Список учителей</h1>

    {{ render(controller('App\\Controller\\TeacherController::teachers')) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/teacher/index.js') }}"></script>
{% endblock %}