{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{%- autoescape false -%}
Подтверждение регистрации
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% autoescape false %}
{% endautoescape %}
{% endblock %}

{% block body_html %}
{{include("@FOSUser/email-style.html.twig")}}

<div class="body">
<h2>Приветствуем, {{user.username}}</h2>
<p>
Для окончания регистрации, пожалуйста, пройдите по <a href="{{confirmationUrl}}">ссылке</a> 
</p>

<p>
Если вы не регистрировались на сайте, проигнорируйте это сообщение
<hr>
<em>
С наилучшими пожеланиями,<br>
команда exmasters.ru
</em>
</p>
</div>
{% endblock %}
