{% extends "@FOSUser/layout.html.twig" %}

{%block title "Регистрация"%}

{% block fos_user_content %}
<h1>Регистрация</h1>
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
