{% extends "homework/base.html.twig" %}

{%block title "Архив попыток ("~task.settings.description~")"%}

{% block main %}
<h1>Архив попыток</h1>
{{ include("attempt/index_table.html.twig") }}
{% endblock %}

{% block javascripts %}
{{parent()}}
<script src="/js/jquery.datatables.min.js"></script>
<script>
$("table").DataTable({
searching: false,
sorting: false,
data: {{processAttempts(attempts)|reverse|json_encode|raw}},
deferRender: true,
pageLength: 50,
language: {{include("attempt/language.json.twig")}}
});
</script>
{% endblock %}