{% extends 'main.html.twig' %}

{% block title %}
    Домашнее задание
{% endblock %}

{% block breadcrumbs %}
    {{ include('homework/breadcrumbs/index.html.twig') }}
{% endblock %}

{% block main %}
    <h1>Домашнее задание</h1>

    <div class="actual">
        {% include 'homework/tasks_table.html.twig' with {'title': 'Текущие задания', 'tasks': actualHomework} %}
    </div>

    <div class="archive">
        {% include 'homework/tasks_table.html.twig' with {'title': 'Архив заданий', 'tasks': archiveHomework} %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/homework/index.js') }}"></script>
{% endblock %}