{% extends 'main.html.twig' %}

{% block title %}
    Домашнее задание
{% endblock %}

{% block breadcrumbs %}
    {{ include('homework/breadcrumbs/index.html.twig') }}
{% endblock %}

{% block main %}
    <h1>Домашнее задание</h1>

    {{ render(controller('App\\Controller\\HomeworkController::homework')) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/homework/index.js') }}"></script>
{% endblock %}