{% extends 'homework/base.html.twig' %}

{% block title %}Домашнее задание{% endblock %}

{% block main %}
<h1>Домашнее задание</h1>

{% from 'homework/tasks_table.html.twig' import tasks_table as tasks %}
{{ tasks("Активные задания", activeTasks, attemptRepository) }}
{{ tasks("Архив заданий", archiveTasks, attemptRepository) }}
{% endblock %}

{%block javascripts%}
{{parent()}}
<script src="/js/jquery.datatables.min.js"></script>
<script>
    $("table").DataTable({
        pageLength: 25,
        //order: [1, "asc"],
        lengthMenu: [25, 50, 100, 250],
        language: {{ include("task/language.json.twig") }}
    });
</script>
{%endblock%}