{% extends 'base.html.twig' %}

{% block title %}New Code{% endblock %}

{% block body %}
    <h1>Create new Code</h1>

    {{ include('code/_form.html.twig') }}

    <a href="{{ path('code_index') }}">back to list</a>
{% endblock %}