{% extends 'main.html.twig' %}
{% block title %}
    Свяжитесь с нами
{% endblock %}

{% block main %}
    {{ parent() }}

    <div id="contacts"></div>
{% endblock %}

{%  block breadcrumbs %}
    {{  include('index/breadcrumbs/contacts.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/contacts.js') }}"></script>
{% endblock %}