{% extends 'main.html.twig' %}

{% block title %}Добро пожаловать!{% endblock %}

{%block main%}
          <div class="row">
              <h2>Добро пожаловать!</h2>
              <p>
Приветственный текст.
</p>
            </div>

<div class="row">
<h2>Расскажите о нас!</h2>
<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="//yastatic.net/share2/share.js"></script>
<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,twitter,viber,whatsapp,skype"></div>
</div>
{%endblock%}