{% extends 'main.html.twig' %}

{% block title %}Добро пожаловать!{% endblock %}

{%block main%}
          <div class="row">
            <div class="bs-component">
              <h2>Добро пожаловать!</h2>
              <p>
Приветственный текст.
                  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</p>
            </div>
          </div>
{%endblock%}