{%extends "main.html.twig"%}

{%block guest_authorization %}{% endblock %}

{%block main%}
        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
{%endblock%}