{% macro contractors_table(title, contractors) %}
<h2>{{ title }}</h2>

<table class="table">
    <thead>
        <th>№</th>
        <th>Ученик</th>
        <th>Время последней попытки</th>
        <th>Выполнено попыток</th>
        <th>Средняя оценка</th>
        <th>Действия</th>
    </thead>
    <tbody></tbody>
</table>
{% endmacro %}