{% extends 'main.html.twig' %}

{% block title %}
    Архив попыток ({{ contractor.LFName }})
{% endblock %}

{%  block breadcrumbs %}
    {{  include('task/breadcrumbs/contractor/attempts.html.twig') }}
{% endblock %}

{% block main %}
    <h1>Архив попыток</h1>

    {{ include("attempt/list_table.html.twig") }}
{% endblock %}

{% block javascripts %}
    <script src="{{  asset('build/js/task/contractor/attempts.js') }}"></script>
{% endblock %}