{% extends 'main.html.twig' %}

{% block title %}
    Архив примеров ({{ contractor.LFName }})
{% endblock %}

{%  block breadcrumbs %}
    {{  include('task/breadcrumbs/contractor/examples.html.twig') }}
{% endblock %}

{% block main %}
    <h1>Архив примеров</h1>

    {{ include("student/examples_table.html.twig") }}
{% endblock %}

{% block javascripts %}
    <script src="{{  asset('build/js/task/contractor/examples.js') }}"></script>
{% endblock %}