{% extends 'main.html.twig' %}

{% block title %}
    Домашнее задание
{% endblock %}

{% block breadcrumbs %}
    {{ include('task/breadcrumbs/index.html.twig') }}
{% endblock %}

{% block main %}
    <h1>Домашнее задание</h1>

    {{ render(controller('App\\Controller\\TaskController::tasks')) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/task/index.js') }}"></script>
{% endblock %}