{% extends 'main.html.twig' %}

{% block title %}Создать задание{% endblock %}

{% block main %}
<h1>Создать задание</h1>

{{ include('task/_form.html.twig') }}

{% block bottom_links %}
<a href="{{ path('task_index') }}">Вернуться к списку заданий</a>
{% endblock %}
{% endblock %}