{% extends 'main.html.twig' %}

{% block title %}
    Создать домашнее задание
{% endblock %}

{%  block breadcrumbs %}
    {{  include('task/breadcrumbs/new.html.twig') }}
{% endblock %}

{% block main %}
    <h1>{{  block('title') }}</h1>

    {{ include('task/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="{{  asset('build/js/task/new.js') }}"></script>
{% endblock %}