{% extends 'base.html.twig' %}

{% block title %}Edit Transfer{% endblock %}

{% block body %}
    <h1>Edit Transfer</h1>

    {{ include('transfer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('transfer_index') }}">back to list</a>

    {{ include('transfer/_delete_form.html.twig') }}
{% endblock %}