{% extends 'base.html.twig' %}

{% block title %}New Transfer{% endblock %}

{% block body %}
    <h1>Create new Transfer</h1>

    {{ include('transfer/_form.html.twig') }}

    <a href="{{ path('transfer_index') }}">back to list</a>
{% endblock %}