<ul>
    <li>
        <a href="{{  path('attempt_new') }}" role="button" class="btn btn-success">
            Начать новую попытку
        </a>
    </li>
</ul>

{{  include('attempt/list_table.html.twig') }}