{%extends 'main.html.twig'%}

{%block title "Архив попыток"%}

{%block main%}
<div class="row">
<h1>Архив попыток</h1>

<table class="table table-striped table-bordered">
<thead class="thead-light">
	<th>№</th>
	<th>Начало попытки</th>
	<th>Конец попытки</th>
	<th>Примеров в попытке</th>
	<th>Решено примеров</th>
	<th>Ошибок</th>
	<th>Оценка</th>
</thead>
<tbody>
</tbody>
</table>
</div>
{%endblock%}

{%block javascripts%}
{{parent()}}
<script src="/js/jquery.datatables.min.js"></script>
<script>
$("table").DataTable({
ordering: false,
searching: false,
serverSide: true,
ajax: P.api_attempt_index_table,
language: {    
"decimal":        "",    "emptyTable":     "Нет начатых попыток",    "info":           "Показано с _START_ по _END_ из _TOTAL_ строк",    "infoEmpty":      "Показано с _START_ по _END_ из _TOTAL_ строк",   "infoFiltered":   "(Отфильтровано из _MAX_ строк)",    "infoPostFix":    "",    "thousands":      ",",    "lengthMenu":     "Показать _MENU_ строк",    "loadingRecords": "Идёт загрузка...",    "search":         "Поиск:",    "zeroRecords":    "Соответствующих записей не найдено",    
"paginate": {        "first":      "В начало",        "last":       "В конец",        "next":       "Вперед",        "previous":   "Назад"    },
    "aria": {        "sortAscending":  ": Нажмите, чтобы отсортировать по возрастанию",        "sortDescending": ": Нажмите, чтобы отсортировать по убыванию"    }
}
});
</script>
{%endblock%}