{% extends 'main.html.twig' %}

{% block title %}
    Архив попыток
{% endblock %}

{% block main %}
    <div>
        <h1>Архив попыток</h1>
        {{ include("attempt/index_table.html.twig") }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{  asset('build/js/attempt/index.js') }}"></script>
    {% endblock %}