<table class="table table-striped tbl-bordered">
    <thead class="thead-dark">
        <th>№</th>
        <th>Начало попытки</th>
        <th>Конец попытки</th>
        <th>Использовано времени</th>
        <th>Решено примеров</th>
        <th>Ошибок</th>
        <th>Оценка</th>
    </thead>

    <tbody></tbody>
</table>