{%block title "Последняя актуальная попытка не найдена"%}

{%extends 'main.html.twig'%}

{%block main%}
<p>У вас нет ни одной актуальной попытки.</p>
<div><a href="{{path("attempt_new")}}">Начните новую</a></div>
{%endblock%}