<table class="table table-info table-attempts">
    <thead>
    <tr>
    <th>№</th>
    <th>Когда начата?</th>
    <th>Использовано времени</th>
    <th>Настройки попытки</th>
    <th>Решено примеров</th>
    <th>Ошибок</th>
    <th>Оценка</th>
    </tr>
    </thead>

    <tbody></tbody>
</table>