{% extends "profile/edit.html.twig" %}

{%set h="Настройки попытки №"~att.number%}
{% block title %}
    {{h}}
{% endblock %}

{% block main_heading %}
    {{h}}
{% endblock %}

{% block back_link %}
    <a href="{{path(" attempt_show", {"="attempt_show" ,="," {"" id": att.id})}}"="id" :=":" att.id})}}""="att.id})}}" "">Назад к попытке №{{att.number}}</a>
{% endblock %}

{% block advanced_parameters %}{% endblock %}
{% block save_button %}{% endblock %}
{% block delete_button %}{% endblock %}