{% extends 'settings/show.html.twig' %}

{% set pageTitle = 'Настройки попытки №'~attemptResponse.number %}
{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block breadcrumbs %}
    {{ include('attempt/breadcrumbs/settings.html.twig') }}
{% endblock %}

{% block before_view %}
    <h1>{{ pageTitle }}</h1>
{% endblock %}