{% extends 'main.html.twig' %}

{% block title %}Попытка №{{ attemptResponse.number }}{% endblock %}

{% block actual_homeworks %}{% endblock %}

{% block main %}
    <div class="attempt-solve">
        <form id="form">
            <h1>Пример №<span id="example-number">*</span></h1>
            <div class="example-area">
<span>
<b><span id="example">* + *</span> =</b>
<input type="text" id="input" required="required" pattern="\d+([.]\d+)?">
</span>
            </div>

            <button type="submit" id="submit-button" class="sbtn-primary btn-lg">Ответить</button>
        </form>

        <div class="attempt-solve-statistic">
            <h2>Статистика</h2>
            <ul class="list-group">
                <li class="list-group-item">Ошибок: <span id="errors-count">*</span></li>
                <li class="list-group-item">Осталось времени: <span id="timer">*</span></li>
                <li class="list-group-item">Осталось примеров: <span id="remained-examples-count">*</span></li>
                <li class="list-group-item">
                    Настройки попытки:
                    <a href="{{ path("attempt_profile", {"id": attempt.id}) }}">{{ attempt.settings.description }}</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
        <script src="{{  asset('build/js/solve.js') }}"></script>
{% endblock %}