<!doctype html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{%block title title ?? 'Title'%}</title>
	{%block styleSheets %}
	<link rel="stylesheet" href="/assets/main.css">
	{%endblock%}
	<script type="text/javascript">
	const P={{(JSParams ?? [])|json_encode|raw}};
	</script>
</head>
<body>
{%block body  ''%}

{%block javaScript %}
<script src="/assets/jquery.js" type="text/javascript"></script>
<script type="text/javascript">
/*$('a').click(function (event) {
event.preventDefault();
var link=$(event.target);
var href=link.attr('href');
console.log(href);
$.get(href, {}, function (page) {
$(document.documentElement).html(page);
});
});
*/
</script>
{%endblock%}	
</body>
</html>