{% extends "main.html.twig" %}

{% block title %}
500. Ошибка на сервере
{% endblock %}

{% block main %}
<h1>Ошибка на сервере</h1>
<p>
К сожалению, на сервере возникла ошибка. Пожалуйста, обратитесь в поддержку сайта.
</p>
{% endblock %}