{%extends "main.html.twig"%}

{%block title "403. Доступ запрещен"%}

{%block main%}
<h1>Доступ к данной странице запрещен</h1>
<p>
Войдите в аккаунт, имеющий право посещать эту страницу.
</p>
{%endblock%}