<h2>Войти с помощью</h2>
<script src="//ulogin.ru/js/ulogin.js"></script>
<div id="uLogin" data-ulogin="display=small;theme=classic;fields=first_name,last_name;providers=vkontakte,odnoklassniki,facebook,twitter,mailru,yandex,google;hidden=livejournal,openid,lastfm,linkedin,liveid,soundcloud,steam,flickr,uid,youtube,webmoney,foursquare,tumblr,googleplus,vimeo,instagram,wargaming;redirect_uri={{url("api_ulogin_register")|url_encode}};mobilebuttons=0;"></div>
